# Converting MP4 to wav format

In [60]:
import os
import ffmpy
import pandas as pd 
from ffmpy import FFmpeg
import ffmpeg
import subprocess

### Defining input directory

In [41]:
inputdir = '../raw_data/test_converter'

## Conversion operation

In [43]:
for filename in os.listdir(inputdir):
    actual_filename = filename[:-4]
    if(filename.endswith(".mp4")):
        command = f"ffmpeg -i ../raw_data/test_converter/{filename} -ab 160k -ac 2 -ar 44100 -vn ../raw_data/Converted_data/{actual_filename}.wav"
        subprocess.call(command, shell=True)
    else:
        print('nofile')

In [58]:
data = pd.read_csv('../raw_data/File_list/filesxcl.csv', header = None, delimiter=',')

In [61]:
import numpy as np

In [63]:
data.head()

                0               1
0   03X1FwF6udc_0   03X1FwF6udc_0
1  03X1FwF6udc_10  03X1FwF6udc_10
2  03X1FwF6udc_11  03X1FwF6udc_11
3  03X1FwF6udc_12  03X1FwF6udc_12
4  03X1FwF6udc_13  03X1FwF6udc_13

In [70]:
arraymp4=np.array(data[0].dropna())

In [71]:
arraywav=np.array(data[1].dropna())

In [73]:
main_list=np.setdiff1d(arraymp4,arraywav)

In [77]:
pd.DataFrame(main_list).to_csv('../raw_data/File_list/remove.csv')